@model List<Travel_Trip_Project.Models.Siniflar.Hotel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!DOCTYPE HTML>
<html>
<head>
    <link href="~/Templates/blog/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/Templates/blog/css/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        .blog-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: space-between;
            margin-top: 20px;
        }

        .blog-card {
            width: calc(50% - 10px); /* İki blog için uygun genişlik */
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            text-align: center;
            padding: 15px;
        }

            .blog-card img {
                width: 100%;
                height: auto;
                border-radius: 10px;
                margin-bottom: 15px;
            }

            .blog-card h1 {
                font-size: 18px;
                font-weight: bold;
                color: #333;
                margin-bottom: 10px;
            }

                .blog-card h1 a {
                    text-decoration: none;
                    color: #a2365a;
                    transition: color 0.3s;
                }

                    .blog-card h1 a:hover {
                        color: #6e1e3d;
                    }

            .blog-card p {
                font-size: 14px;
                color: #666;
                margin: 0;
                line-height: 1.5;
            }

        h1 {
            font-size: 36px;
            font-weight: bold;
            text-align: center;
            color: #a2365a;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h1 style="margin-top:20px">BEĞENDİĞİM OTELLER</h1>
    <div class="container">
        <div class="blog-container">
            @foreach (var item in Model)
            {
                <div class="blog-card">
                    <img src="@item.ImageUrl" alt="Otel Görseli" />
                    <h1><a href="#">@item.Name</a></h1>
                    <p>
                        @item.Description
                    </p>
                </div>
            }
        </div>
    </div>
</body>
</html>
