@model List<Travel_Trip_Project.Models.Siniflar.Blog>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Blog Listesi</h2>
<br />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>BAŞLIK</th>
            <th>İŞLEMLER</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.ID</th>
                <td>@item.Title</td>
                <td>
                    <a href="/Admin/DeleteBlog/@item.ID" class="btn btn-danger">Sil</a>
                    <a href="/Admin/UpdateBlog/@item.ID" class="btn btn-warning">Güncelle</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="/Admin/AddBlog/" class="btn btn-primary">Yeni Blog Ekle</a>

