@using Travel_Trip_Project.Models.Siniflar
@model List<About> 
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>Hakkımda</h3>
            @foreach (var item in Model)
            {
            <p>@item.Description</p>
            <img  src="@item.PhotoUrl" alt="" />
            }
        </div>
    </div>
</div>
