@model Travel_Trip_Project.Models.Siniflar.Hotel

@{
    ViewBag.Title = "Hotel Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Hotel Ekle</h2>

@using (Html.BeginForm("AddHotel", "Hotel", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <label>Otel Adı</label>
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label>Açıklama</label>
        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = 5 })
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label>Görsel Yükleyin</label>
        <input type="file" name="file" class="form-control" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Kaydet</button>
}
